body {
    margin: 0;
    padding: 0;
}

.item {
    min-height: 42px;
    padding: 16px 0;
    margin: 0 15px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}

.item.single-pic {
    display: flex;
}

.single-pic .content {
    flex: 2;
    font-size: 17px;
    padding-right: 24px;
}

.single-pic img {
    width: 33%;
    display: block;
}

.item.multiple-image h3 {
    font-size: 17px;
}

.item.multiple-image .image-list img {
    width: 33%;
}

.big-pic .content .itemInfo {
    font-size: 9px;
    margin-top: 12px;
}

.big-pic .content .big-img img{
    width: 100%;
}

.big-pic .content .type {   
    color: #2a90d7;
    border: 1px solid rgba(42, 144, 215, 0.5);
    border-radius: 2px;
    padding: 1px 4px 1px 4px;
} 